@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  background-image: radial-gradient(rgba(209, 207, 207, 0.482) 1px, transparent 0);
  background-size: 16px 16px;
  background-position: -19px -19px;
}

#gradient-canvas {
  --gradient-color-1: #31f0c9;
  --gradient-color-2: #b213f6;
  --gradient-color-3: #98bdaf;
  --gradient-color-4: #c29fcb;
  z-index: -1;

  -webkit-mask-image: radial-gradient(3000% 100% at bottom, transparent 0%, #fff 50%);
}