@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  background-image: radial-gradient(rgba(220, 220, 220, 0.482) 1px, transparent 0);
  background-size: 15px 15px;
  background-position: -19px -19px;
}